@media only screen and (min-width: 60rem) {
    .gallery {
        display: grid;
        grid-template-columns: auto auto auto;
    }
   .gallery div:hover {
    border: 1px solid #242423;
    box-shadow: 0 0 30px #242423;

   }
}