/* #e7f0ed, #e7ffed (data rows) and #628ca6, #7fb9c2
font-family is Ubuntu, sans-serif.*/ 

body {
    font-family: 'Ubuntu', sans-serif;
}
table{
    margin: 5px auto;
    
}
table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: center;
    padding: 5px;
  }
caption {
    font-size: 1.75rem;
    background-color: #7fb9c2;
    
}
th {
    color: white;
    background-color: #628ca6;
}
tr:nth-child(even) {
    background: #e7ffed;
  }
tr:nth-child(odd) {
    background: #e7f0ed;
  }
tr:nth-child(4) td:nth-child(3) {
    background-color: #628ca6;
    color: white;
}
tr:nth-child(5) td:first-child {
    font-style: italic;
}
tfoot tr td {
    font-size: .5rem;
    background-color: #7fb9c2 ;
}
